@page
@model IndexModel
@{
    ViewData["Title"] = "Sjællands erhvershakademi";
}

<div class="text-center">
    <h3 class="display-4">Velkommen til Sjællands erhvershakademis webapplikation (prototype) side</h3>
    <br>
    <br>
    <br>
    <p style ="text-align: left;">
        <div class="text-left">
        Dette GitHub-projekt er oprettet af Rasekh, studerende på Sjællands Erhvervsakademi, i forbindelse med eksamensprojektet på 2. semester. Her er min GitHub, hvor jeg har lagt min kode til projektet, som er lavet i C# og HTML med lidt CSS og JavaScript – programmeringssprog, der kører på Razor Pages i Microsoft Visual Studio. Med venlig hilsen
        <br>
        Projektet er en prototype.
        <br>
        Arbejde af projektet: Rasekh
        <br>
        </div>
    </p>
    <a href="http://github.com/Rasekh1413/EksamenProjekt-2web/" style="text-align: left;" title="Til Zealand projektet på mit Github - Rasekh">Rasekh 1413 - Github</a>
    <br>
    <a href="http://zealand.rasekh.dk" style="text-align: left;" title="Rasekh hjemmeside til Zealand projektet">Rasekh.dk</a>

    <br>
    <br>
    <iframe src="kort/kort"
            style="width: 100%; height: 1000px; border: none;">
    </iframe>
    <br>
</div>
