@page
@model EksamenProjekt_2web.Pages.Kort.KortModel
@using System.Text.Json


@{
    var jsonOptions = new JsonSerializerOptions
            {
                PropertyNamingPolicy = JsonNamingPolicy.CamelCase
            };
    if (Model.IsIframe)
    {
        Layout = null;
    }
}

<head>
    <title>Akademi Kort</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <style>
        #map {
            height: 1000px;
            width: 100%;
        }
    </style>
</head>

<body>
    <h1>Sjællands Akademi i Danmark</h1>
    <div id="map"></div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        var map = L.map('map').setView([55.6415, 12.0803], 7);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap contributors</a>'
        }).addTo(map);

        var locations = @Html.Raw(JsonSerializer.Serialize(Model.AkademiLokationer, jsonOptions));

        locations.forEach(function (loc) {
            L.marker([loc.latitude, loc.longitude]).addTo(map)
                .bindPopup('<b>' + loc.name + '</b>');
        });
    </script>
</body>